<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="api">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="API_TOKEN" value="token"/>
        <const name="API_URI" value="http://plugin-admin-local.local:20000/api/v1/"/>
    </php>
</phpunit>